# Python
__pycache__/
*.py[cod]
venv/
.env

# Symfony
/web-interface/vendor/
/web-interface/var/
/web-interface/public/bundles/
/web-interface/.env.local

# Fichiers système
.vscode/
.idea/
.DS_Store
Thumbs.db

# Rapports générés (on garde pas)
/web-interface/public/rapports/*.csv
/web-interface/public/rapports/*.json
/web-interface/public/rapports/*.md
!/web-interface/public/rapports/.gitkeep